@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    string username = null;
    string title = null;
    if (DataManager.activeUser != null)
    {
        username = DataManager.activeUser.Name;
        title = DataManager.activeUser.Title;
    }
    Person active = DataManager.activeUser;
    List<Person> people = DataManager.data;
    List<Meeting> meetings = DataManager.meetings;
}

<div class="pageView">
    <h3>Meetings</h3>
    @foreach (Person person in people)
    {
        @if (person.Title == "Professor" && person != active)
        {
            <div class="sectionBox">
                <h1>Professor: @person.Name</h1>

                @foreach (Meeting meeting in meetings)
                {
                    if (meeting.staff == person.Name)
                    {
                        <p>Meeting with @meeting.student at @meeting.hour:@meeting.minute on @meeting.day|@meeting.month</p>
                    }

                }
                @if (title != "Professor" && username != null)
                {
                    <form asp-controller="Home" asp-action="CreateMeeting">
                        <button class="meetingButton" type="submit" name="create">Request Meeting</button>
                        <input type="hidden" name="staff" value="@person.Name">
                    </form>
                }
            </div>
        }
    }
</div>